<html>

<body>
  <h1>Menu</h1>
  <a href="/searchMovies">Search for movies</a> <br>
  <a href="/createMovie">Create new movie</a> <br>
  <% if(username == "admin" ){ %>
    <a href="/usersManagement">Edit Users</a> <br>
    <% } %>

</body>

</html>